@page "/domain"
@using DesktopApiBuilder.App.Data.ViewModels
@inject NavigationManager Navigation

<h3>Domain Definition</h3>

<div class="d-flex flex-row mt-4 align-center">
    <MudButton OnClick="@(() => _isOverlayOpened = true)" Variant="Variant.Outlined" Disabled=_isLoading>Add entity class</MudButton>
    <MudButton OnClick="CreateClasses" Variant="Variant.Outlined" Class="ml-4" Disabled=_isLoading>Create classes</MudButton>
    <MudButton Href=@($"/sql/{InMemoryUserSettings.SolutionName}") Variant="Variant.Outlined" Class="ml-4" Disabled=@(_isLoading || !_classesCreated)>Next</MudButton>
    @if (_isLoading)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate Class="ml-4" Size="Size.Small" />
    }
</div>

<MudText Color="Color.Success" Class="mt-6">@_message</MudText>

<MudTable Items="_entities" Breakpoint="Breakpoint.None">
    <HeaderContent>
        <MudTh>Entity name</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
    </RowTemplate>
    <ChildRowContent>
        <MudTable Items="@context.Properties" Breakpoint="Breakpoint.None" Context="propsContext" Dense>
            <HeaderContent>
                <MudTh>Property name</MudTh>
                <MudTh>Property type</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@propsContext.Name</MudTd>
                <MudTd>@propsContext.Type</MudTd>
            </RowTemplate>
        </MudTable>
    </ChildRowContent>
</MudTable>

<MudOverlay @bind-Visible=_isOverlayOpened DarkBackground>
    <div style="background-color: white; padding: 40px; max-height: 500px; overflow-y: scroll;">
        <div class="d-flex flex-row">
            <MudTextField @bind-Value=_currentEntity.Name Required RequiredError="Entity name is required" Label="Entity name" />
            <MudTextField @bind-Value=_currentEntity.PluralName Required RequiredError="Entity plural name is required" Label="Entity plural name" />
        </div>

         @foreach (var item in _currentEntity.Properties)
        {
            <div class="d-flex flex-row">
                <MudTextField @bind-Value=item.Name Required RequiredError="Property name is required" Placeholder="Property name" />
                 <MudSelect @bind-Value=item.Type Required RequiredError="Property type is required" Placeholder="Property type">
                    @foreach (var t in DefaultEntityTypes.Types)
                    {
                        <MudSelectItem T=string Value="t"/>
                    }
                </MudSelect>
                 <MudButton OnClick="@(() => RemovePropertyItem(item))" Variant="Variant.Outlined" Color=Color.Error Class="mt-4 ml-4">R</MudButton>
            </div>
        }

        <div class="d-flex flex-row">
             <MudButton OnClick=AddEmptyProperty Variant="Variant.Outlined" Class="mt-4">Add property</MudButton>
             <MudButton OnClick="@(() => _isOverlayOpened = false)" Variant="Variant.Outlined" Class="mt-4 ml-4">Close</MudButton>
        </div>

        <MudButton OnClick=AddEntity Variant="Variant.Outlined" Class="mt-4">Add entity</MudButton>
    </div>
</MudOverlay>

@code {
    private string _message = string.Empty;
    private bool _isLoading;
    private bool _isOverlayOpened;
    private bool _classesCreated;

    private EntityClassViewModel _currentEntity = new EntityClassViewModel
    {
        Name = string.Empty,
        PluralName = string.Empty,
        Properties = new List<EntityPropViewModel>()
        {
            new()
            {
                Name = "Id",
                Type = "int"
            }
        }
    };

    private List<EntityClassViewModel> _entities = new();

    private void AddEmptyProperty()
    {
        _currentEntity.Properties.Add(new EntityPropViewModel
        {
            Name = string.Empty,
            Type = string.Empty
        });
    }

    private void RemovePropertyItem(EntityPropViewModel entity)
    {
        _currentEntity.Properties.Remove(entity);
    }

    private void AddEntity()
    {
        var result = Mapper.EntityPropsToDict(_currentEntity.Properties);

        if (!string.IsNullOrEmpty(result.ErrorMessage))
        {
            return;
        }

        _entities.Add(new EntityClassViewModel
        {
            Name = _currentEntity.Name,
            PluralName = _currentEntity.PluralName,
            Properties = _currentEntity.Properties
        });

        _currentEntity = new EntityClassViewModel
        {
            Name = string.Empty,
            PluralName = string.Empty,
            Properties = new List<EntityPropViewModel>()
            {
                new()
                {
                    Name = "Id",
                    Type = "int"
                }
            }
        };

        _isOverlayOpened = false;
        StateHasChanged();
    }

    private async Task CreateClasses()
    {
        ClassService.CreateClasses(new SolutionSettingsModel()
        {
            SolutionName = InMemoryUserSettings.SolutionName,
            SolutionPath = InMemoryUserSettings.SolutionPath,
            ArchitectureType = InMemoryUserSettings.ArchitectureType
        }, _entities);

        // ClassService.CreateController(Name, _currentEntity);

        // ClassService.UpdateProgramClass(Name);
        // ClassService.CreateServiceExtensions(Name, _entities);

        _isLoading = true;
        StateHasChanged();

        await Task.Delay(3000);

        _isLoading = false;
        StateHasChanged();

        _classesCreated = true;
        _message = $"Classes for solution \"{InMemoryUserSettings.SolutionName}\" were succesfully created!";
    }
}
